<app-navbar></app-navbar>

<div class="container justify-content-center">
  <div class="col-12">
    <ng-container *ngIf="type==='javascript'">
      <h1 align="center">Select Your Javascript Topic</h1>
    </ng-container>
    <ng-container *ngIf="type==='css'">
      <h1 align="center">Select Your CSS Topic</h1>
    </ng-container>
    <ng-container *ngIf="type==='html'">
      <h1 align="center">Select Your HTML Topic</h1>
    </ng-container>
  </div>
  <div class="col-12">
    <mat-list>
      <ng-container *ngIf="type==='javascript'">
        <mat-list-item *ngFor="let item of javascript_items; let first = first;" style="height: auto; margin: 5px" (click)="goToLessonDetailDetail(first)">
          <div class="container col-12 row justify-content-center align-items-center">
            <div class="col-1">
              <mat-icon *ngIf="first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">check_circle</mat-icon>
              <mat-icon *ngIf="!first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">remove_circle</mat-icon>
            </div>
            <div class="col-11" [ngClass]="{'lesson-title': first, 'lesson-title-disabled': !first}">
              <h1 align="center">{{item}}</h1>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="type==='css'">
        <mat-list-item *ngFor="let item of css_items; let first = first;" style="height: auto; margin: 5px" (click)="goToLessonDetailDetail(first)">
          <div class="container col-12 row justify-content-center align-items-center">
            <div class="col-1">
              <mat-icon *ngIf="first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">check_circle</mat-icon>
              <mat-icon *ngIf="!first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">remove_circle</mat-icon>
            </div>
            <div class="col-11" [ngClass]="{'lesson-title': first, 'lesson-title-disabled': !first}">
              <h1 align="center">{{item}}</h1>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
      <ng-container *ngIf="type==='html'">
        <mat-list-item *ngFor="let item of html_items; let first = first;" style="height: auto; margin: 5px" (click)="goToLessonDetailDetail(first)">
          <div class="container col-12 row justify-content-center align-items-center">
            <div class="col-1">
              <mat-icon *ngIf="first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">check_circle</mat-icon>
              <mat-icon *ngIf="!first" class="big-icon" [ngClass]="{'done': first, 'not-done': !first}">remove_circle</mat-icon>
            </div>
            <div class="col-11" [ngClass]="{'lesson-title': first, 'lesson-title-disabled': !first}">
              <h1 align="center">{{item}}</h1>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</div>
