<app-navbar></app-navbar>

<div class="container col-12">
  <h1 align="center">View A Class</h1>
</div>
<div class="container col-md-12">
  <mat-grid-list [cols]="2" rowHeight="350" gutterSize="50">
    <mat-grid-tile>
      <button [routerLink]="['javascript']">
        <img class="tileImg" src="/assets/class-pic.png">
        <h2 style="margin-left: 10px; text-align: center; font-size: xx-large">Class 101</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button [routerLink]="['html']">
        <img class="tileImg" src="/assets/class-pic2.png">
        <h2 style="margin-left: 10px; text-align: center; font-size: xx-large">Class 201</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile style="margin-top: -75px">
      <button [routerLink]="['css']">
        <img class="tileImg" src="/assets/class-pic2.png">
        <h2 style="margin-left: 10px; text-align: center; font-size: xx-large">Class 303</h2>
      </button>
    </mat-grid-tile>
    <mat-grid-tile style="margin-top: -75px">
      <button [routerLink]="['website']">
        <img class="tileImg" src="/assets/class-pic.png">
        <div matTooltip="You must complete the other courses first!"></div>
        <h2 style="margin-left: 10px; text-align: center; font-size: xx-large">Class 458</h2>
      </button>
    </mat-grid-tile>
  </mat-grid-list>
</div>
